<div class="row">
	<div class="col-md-8"><p><strong>Prop. ID:</strong> {{PID}}</p></div>
	<div class="col-md-4"><p><strong>Tax dist.:</strong> {{TAXDIST}}</p></div>
</row>
<div class="row">
	<div class="col-md-8"><p><strong>Address:</strong> {{SITUS-NUM}} {{SITUS-STREET}}</p></div>
	<div class="col-md-4"><p><strong>City:</strong> {{SITUS-CITY}}</p></div>
</row>
<div class="row">
	<div class="col-md-4"><p><strong>Subdiv. code:</strong> {{SUBD-CODE}}</p></div>
	<div class="col-md-4"><p><strong>Subdiv. name:</strong> {{SUBD-NAME}}</p></div>
	<div class="col-md-4"><p><strong>Neighborhood:</strong> {{NHBRHD}}</p></div>
</row>
<div class="row">
	<div class="col-md-12"><p><strong>Legal desc. 1:</strong> {{LEGAL1}}</p></div>
</row>
<div class="row">
	<div class="col-md-12"><p><strong>Legal desc. 2:</strong> {{LEGAL2}}</p></div>
</row>
<div class="row">
	<div class="col-md-4"><p><strong>Real ass. val.:</strong> {{REAL-ASSVAL}}</p></div>
	<div class="col-md-4"><p><strong>Land ass. val.:</strong> {{LAND-ASSVAL}}</p></div>
</row>
<div class="row">
	<div class="col-md-4"><p><strong>Ext. feat. ass. val.:</strong> {{EXFEAT-ASSVAL}}</p></div>
	<div class="col-md-4"><p><strong>Bldg. ass. val.:</strong> {{BLDG-ASSVAL}}</p></div>
	<div class="col-md-4"><p><strong>Use ass. val.:</strong> {{USE-ASSVAL}}</p></div>
</row>
<div class="row">
	<div class="col-md-4"><p><strong>Appraised land val.:</strong> {{APP-LAND-VAL}}</p></div>
	<div class="col-md-4"><p><strong>Appraised feats. val.:</strong> {{APP-FEAT-VAL}}</p></div>
	<div class="col-md-4"><p><strong>Appraised bldg. val.:</strong> {{APP-BLDG-VAL}}</p></div>
</row>
<div class="row">
	<div class="col-md-4"><p><strong>Owner:</strong> {{OWNER}}</p></div>
	<div class="col-md-4"><p><strong>Co-owner:</strong> {{CO-OWNER}}</p></div>
</row>
<div class="row">
	<div class="col-md-4"><p><strong>Owner address:</strong> {{OWNER-ADDRESS}}</p></div>
	<div class="col-md-4"><p><strong>Owner city and st.:</strong> {{OWNER-CITY-ST}}</p></div>
	<div class="col-md-4"><p><strong>Owner ZIP:</strong> {{OWNER-ZIP}}</p></div>
</row>
<div class="row">
	<div class="col-md-4"><p><strong>Jan. 1 owner:</strong> {{JAN1-OWNER}}</p></div>
	<div class="col-md-4"><p><strong>Exemption:</strong> {{EXEMPT}}</p></div>
</row>
<div class="row">
	<div class="col-md-4"><p><strong>Sale price:</strong> {{SALE-PRICE}}</p></div>
	<div class="col-md-4"><p><strong>Num. Sales:</strong> {{NUMSALES}}</p></div>
	<div class="col-md-4"><p><strong>Year built:</strong> {{YRBLT}}</p></div>
</row>
<div class="row">
	<div class="col-md-4"><p><strong>Sale year:</strong> {{SALE-YR}}</p></div>
	<div class="col-md-4"><p><strong>Sale month:</strong> {{SALE-MONTH}}</p></div>
	<div class="col-md-4"><p><strong>Sale qual.:</strong> {{SALE-QUAL}}</p></div>
</row>
<div class="row">
	<div class="col-md-4"><p><strong>Zoning:</strong> {{ZONING}}</p></div>
	<div class="col-md-4"><p><strong>Type:</strong> {{TYPE}}</p></div>
	<div class="col-md-4"><p><strong>PCA:</strong> {{PCA}}</p></div>
</row>
<div class="row">
	<div class="col-md-4"><p><strong>Sale instr.:</strong> {{SALE-INST}}</p></div>
	<div class="col-md-4"><p><strong>Sale vori.:</strong> {{SALE-VORI}}</p></div>
	<div class="col-md-4"><p><strong>Sale bookpg.:</strong> {{SALE-BOOKPG}}</p></div>
</row>