<div class="row">
	<div class=col-md-4><p><strong>Parcel ID:</strong> {{ParcelID}}</p></div>
	<div class=col-md-4><p><strong>Active Status:</strong> {{ActiveStatus}}</p></div>
</row>
<div class="row">
	<div class=col-md-4><p><strong>Sale date:</strong> {{SellDate}}</p></div>
	<div class=col-md-4><p><strong>Selling price:</strong> {{SellingPrice}}</p></div>
	<div class=col-md-4><p><strong>Sale num:</strong> {{SellNum}}</p></div>
</row>
<div class="row">
	<div class=col-md-4><p><strong>Seller 1:</strong> {{Seller1_Fname}} {{Seller1_Tname}} {{Seller1_Lname}} {{Seller1_Sufname}}</p></div>
	<div class=col-md-4><p><strong>Seller 2:</strong> {{Seller2_Fname}} {{Seller2_Lname}} {{Seller2_Tname}} {{Seller2_Sufname}}</p></div>
</row>
<div class="row">
	<div class=col-md-8><p><strong>Seller address:</strong> {{Seller_Address1}} {{Seller_Address2}}</p></div>
	<div class=col-md-2><p><strong>Seller city:</strong> {{Seller_City}}</p></div>
	<div class=col-md-2><p><strong>Seller state:</strong> {{Seller_State}}</p></div>
</row>
<div class="row">
	<div class=col-md-4><p><strong>Seller ZIP:</strong> {{Seller_Zip1}} {{Seller_Zip2}}</p></div>
	<div class=col-md-4><p><strong>Seller acct.:</strong> {{Seller_Acct}}</p></div>
</row>
<div class="row">
	<div class=col-md-4><p><strong>Buyer 1:</strong> {{Buyer1_Fname}} {{Buyer1_Tname}} {{Buyer1_Lname}} {{Buyer1_Sufname}}</p></div>
	<div class=col-md-4><p><strong>Buyer 2:</strong> {{Buyer2_Fname}} {{Buyer2_Lname}} {{Buyer2_Tname}} {{Buyer2_Sufname}}</p></div>
</row>
<div class="row">
	<div class=col-md-8><p><strong>Buyer address:</strong> {{Buyer_Address1}} {{Buyer_Address2}}</p></div>
	<div class=col-md-2><p><strong>Buyer city:</strong> {{Buyer_City}}</p></div>
	<div class=col-md-2><p><strong>Buyer state:</strong> {{Buyer_State}}</p></div>
</row>
<div class="row">
	<div class=col-md-4><p><strong>Buyer ZIP:</strong> {{Buyer_Zip1}} {{Buyer_Zip2}}</p></div>
	<div class=col-md-4><p><strong>Buyer acct.:</strong> {{Buyer_Acct}}</p></div>
</row>
<div class="row">
	<div class=col-md-12><p><strong>Property addr.:</strong> {{HouseNum}}{{HouseSuffix}} {{StreetDirection}} {{StreetName}} {{StreetType}}</p></div>
</row>
<div class="row">
	<div class=col-md-4><p><strong>Subdivision:</strong> {{Subdivision}}</p></div>
	<div class=col-md-4><p><strong>Sub lot:</strong> {{SubLot}}</p></div>
	<div class=col-md-4><p><strong>Township:</strong> {{Township}}</p></div>
</row>
<div class="row">
	<div class=col-md-4><p><strong>City code:</strong> {{CityCode}}</p></div>
	<div class=col-md-4><p><strong>FireCode:</strong> {{FireCode}}</p></div>
	<div class=col-md-4><p><strong>School code:</strong> {{SchlCode}}</p></div>
</row>
<div class="row">
	<div class=col-md-4><p><strong>Plat book:</strong> {{PlatBook}}</p></div>
	<div class=col-md-4><p><strong>Plat page:</strong> {{PlatPage}}</p></div>
	<div class=col-md-4><p><strong>Deed book:</strong> {{DeedBook}}</p></div>
</row>
<div class="row">
	<div class=col-md-4><p><strong>Deed page:</strong> {{DeedPage}}</p></div>
	<div class=col-md-4><p><strong>Deed date:</strong> {{DeedDate}}</p></div>
	<div class=col-md-4><p><strong>Deed instument:</strong> {{DeedInstument}}</p></div>
</row>
<div class="row">
	<div class=col-md-4><p><strong>Acres:</strong> {{Acres}}</p></div>
	<div class=col-md-4><p><strong>Class:</strong> {{Class}}</p></div>
	<div class=col-md-4><p><strong>Neighborhood:</strong> {{Neighborhood}}</p></div>
</row>
<div class="row">
	<div class=col-md-4><p><strong>Qualified Sale:</strong> {{QualifiedSale}}</p></div>
	<div class=col-md-4><p><strong>Vacant Lot:</strong> {{VacantLot}}</p></div>
</row>