<div class="row">
	<div class="col-md-4"><p><strong>Parcel ID:</strong> {{pin}}</p></div>
	<div class="col-md-4"><p><strong>Owner 1:</strong> {{owner1_fir}} {{owner1_las}}</p></div>
	<div class="col-md-4"><p><strong>Owner 2:</strong> {{owner2_fir}} {{owner2_las}}</p></div>
</div>

<div class="row">
	<div class=col-md-12><p><strong>Property addr.:</strong> {{address1}} {{address2}}, {{city}} {{zipcode}}</p></div>
</row>
<div class="row">
	<div class="col-md-4"><p><strong>Tax Value:</strong> {{valuation}}</p></div>
	<div class="col-md-4"><p><strong>Land Value:</strong> {{landvalue}}</p></div>
	<div class="col-md-4"><p><strong>Bldg Market:</strong> {{bldgvalue}}</p></div>
</row>
<div class="row">
	<div class="col-md-4"><p><strong>Account:</strong> {{account}}</p></div>
	<div class="col-md-4"><p><strong>Lot size:</strong> {{size}} {{uom}}</p></div>
	<div class="col-md-4"><p><strong>Dfrd Market:</strong> {{DfrdMarket}}</p></div>
</row>
<div class="row">
	<div class="col-md-4"><p><strong>Tax status:</strong> {{taxstatus}}</p></div>
	<div class="col-md-4"><p><strong>Exempt. Value:</strong> {{ExemptVal}}</p></div>
</div>
<div class="row">
	<div class=col-md-4><p><strong>Subdivision code:</strong> {{subcode}}</p></div>
	<div class=col-md-8><p><strong>Legal desc.:</strong> {{legal_desc}}</p></div>
</row>
<div class="row">
	<div class=col-md-4><p><strong>Farm use:</strong> {{farmuse}}</p></div>
	<div class=col-md-4><p><strong>Use value:</strong> {{usevalue}}</p></div>
	<div class=col-md-4><p><strong>Tax stamps:</strong> {{taxstamps}}</p></div>
</row>
<div class="row">
	<div class=col-md-4><p><strong>Owner type:</strong> {{owner_type}}</p></div>
	<div class=col-md-4><p><strong>Legal ref:</strong> {{legalref}}</p></div>
</row>

