<div class="row">
	<div class="col-md-4"><p><strong>Property ID:</strong> {{pid}}</p></div>
	<div class="col-md-4"><p><strong>Tax dist.:</strong> {{tax_dist}}</p></div>
</div>
<div class="row">
	<div class="col-md-4"><p><strong>Address:</strong> {{address}}</p></div>
	<div class="col-md-4"><p><strong>City:</strong> {{city}}</p></div>
	<div class="col-md-4"><p><strong>ZIP:</strong> {{zip}}</p></div>
</div>
<div class="row">
	<div class="col-md-4"><p><strong>Sale date:</strong> {{sale_date}}</p></div>
	<div class="col-md-4"><p><strong>Price:</strong> {{price}}</p></div>
</div>
<div class="row">
	<div class="col-md-4"><p><strong>Seller:</strong> {{seller}}</p></div>
	<div class="col-md-4"><p><strong>Buyer:</strong> {{buyer}}</p></div>
</div>
<div class="row">
	<div class="col-md-2"><p><strong>Property type:</strong> {{property_type}}</p></div>
	<div class="col-md-2"><p><strong>Land use:</strong> {{land_use}}</p></div>
	<div class="col-md-8"><p><strong>Legal Desc.:</strong> {{legal_description}}</p></div>
</div>
<div class="row">
	<div class="col-md-4"><p><strong>Book:</strong> {{book}}</p></div>
	<div class="col-md-4"><p><strong>Page:</strong> {{page}}</p></div>
	<div class="col-md-4"><p><strong>Instrument:</strong> {{instrument}}</p></div>
</div>