<div class="row">
	<div class="col-md-4"><p><strong>Property ID:</strong> {{REAL_ESTATE_ID}}</p></div>
	<div class="col-md-4"><p><strong>PIN:</strong> {{PIN_NUM}}</p></div>
	<div class="col-md-4"><p><strong>Deed bk/pg.:</strong> {{DEED_BOOK}}/{{DEED_PAGE}}</p></div>
</row>
<div class="row">
	<div class="col-md-4"><p><strong>Buyer 1:</strong> {{OWNER_LINE1}}</p></div>
	<div class="col-md-4"><p><strong>Buyer 2:</strong> {{OWNER_LINE2}}</p></div>
</row>
<div class="row">
	<div class="col-md-4"><p><strong>Mailing addr. 1:</strong> {{ADDRESS_LINE1}}</p></div>
	<div class="col-md-4"><p><strong>Mailing addr. 2:</strong> {{ADDRESS_LINE2}}</p></div>
	<div class="col-md-4"><p><strong>Mailing addr. 3:</strong> {{ADDRESS_LINE3}}</p></div>
</row>
<div class="row">
	<div class="col-md-12"><p><strong>Property address: </strong> {{SITE_ADDRESS_STREET_NUMBER}}{{SITE_ADDRESS_STREET_UNITS}} {{SITE_ADDRESS_STREET_PREFIX}} {{SITE_ADDRESS_STREET_NAME}} {{SITE_ADDRESS_STREET_TYPE}} {{SITE_ADDRESS_STREET_SUFFIX}}</p></div>
</row>
<div class="row">
	<div class="col-md-4"><p><strong>City:</strong> {{PHYSICAL_CITY}}</p></div>
	<div class="col-md-4"><p><strong>ZIP code:</strong> {{PHYSICAL_ZIP_CODE}}</p></div>
</row>
<div class="row">
	<div class="col-md-8"><p><strong>Legal desc:</strong> {{LEGAL_DESCRIPTION}}</p></div>
	<div class="col-md-4"><p><strong>Card:</strong> {{CARD_NUMBER}} of {{NUMBER_OF_CARDS}}</p></div>
</row>
<div class="row">
	<div class="col-md-4"><p><strong>Bldg. ass. val.:</strong> {{BUILDING_ASSESSED_VALUE}}</p></div>
	<div class="col-md-4"><p><strong>Land ass. val.:</strong> {{LAND_ASSESSED_VALUE}}</p></div>
</row>
<div class="row">
	<div class="col-md-4"><p><strong>Total sale price:</strong> {{TOTAL_SALE_PRICE}}</p></div>
	<div class="col-md-4"><p><strong>Land sale price:</strong> {{LAND_SALE_PRICE}}</p></div>
</row>
<div class="row">
	<div class="col-md-4"><p><strong>Total sale date:</strong> {{TOTAL_SALE_DATE}}</p></div>
	<div class="col-md-4"><p><strong>Land sale date:</strong> {{LAND_SALE_DATE}}</p></div>
	<div class="col-md-4"><p><strong>Deed date:</strong> {{DEED_DATE}}</p></div>
</row>
<div class="row">
	<div class="col-md-4"><p><strong>Year built:</strong> {{YEAR_BUILT}}</p></div>
	<div class="col-md-4"><p><strong>Effective year:</strong> {{EFFECTIVE_YEAR}}</p></div>
	<div class="col-md-4"><p><strong>Addition year:</strong> {{ADDITION_YEAR}}</p></div>
</row>
<div class="row">
	<div class="col-md-4"><p><strong>Remodeled year:</strong> {{REMODELED_YEAR}}</p></div>
	<div class="col-md-4"><p><strong>Type/use:</strong> {{TYPE_AND_USE}}</p></div>
	<div class="col-md-4"><p><strong>Type/use desc:</strong> {{TYPE_AND_USE_DESCRIPTION}}</p></div>
</row>
<div class="row">
	<div class="col-md-4"><p><strong>Hist. def. code:</strong> {{HIST_DEF_CODE}}</p></div>
	<div class="col-md-4"><p><strong>Hist. def. amt.:</strong> {{HIST_DEF_AMOUNT}}</p></div>
	<div class="col-md-4"><p><strong>Land def. code:</strong> {{LAND_DEF_CODE}}</p></div>
</row>
<div class="row">
	<div class="col-md-4"><p><strong>Land def. amt.:</strong> {{LAND_DEF_AMOUNT}}</p></div>
	<div class="col-md-4"><p><strong>Land qual. flag:</strong> {{LAND_QUAL_FLAG}}</p></div>
	<div class="col-md-4"><p><strong>Value ctrl. sect. no.:</strong> {{VALUE_CONTROL_SECTION_NUM}}</p></div>
</row>
<div class="row">
	<div class="col-md-4"><p><strong>Total qual. flag:</strong> {{TOTAL_QUAL_FLAG}}</p></div>
	<div class="col-md-4"><p><strong>Recycled units:</strong> {{RECYCLED_UNITS}}</p></div>
	<div class="col-md-4"><p><strong>Billing class:</strong> {{BILLING_CLASS}}</p></div>
</row>
<div class="row">
	<div class="col-md-4"><p><strong>Land class:</strong> {{LAND_CLASS}}</p></div>
	<div class="col-md-4"><p><strong>Zoning:</strong> {{ZONING}}</p></div>
	<div class="col-md-4"><p><strong>Deeded acreage:</strong> {{DEEDED_ACREAGE}}</p></div>
</row>
<div class="row">
	<div class="col-md-4"><p><strong>Rooms:</strong> {{ROOMS}}</p></div>
	<div class="col-md-4"><p><strong>Units:</strong> {{UNITS}}</p></div>
	<div class="col-md-4"><p><strong>Story height:</strong> {{STORY_HEIGHT}}</p></div>
</row>
<div class="row">
	<div class="col-md-4"><p><strong>Design/style:</strong> {{DESIGN_AND_STYLE}}</p></div>
	<div class="col-md-4"><p><strong>FD/basement:</strong> {{FD_OR_BASEMENT}}</p></div>
	<div class="col-md-4"><p><strong>Basement %:</strong> {{BASEMENT_PERCENT}}</p></div>
</row>
<div class="row">
	<div class="col-md-4"><p><strong>Exterior wall:</strong> {{EXTERIOR_WALL}}</p></div>
	<div class="col-md-4"><p><strong>Common walls:</strong> {{COMMON_WALLS}}</p></div>
</row>
<div class="row">
	<div class="col-md-4"><p><strong>Roof type:</strong> {{ROOF_TYPE}}</p></div>
	<div class="col-md-4"><p><strong>Roof floor system:</strong> {{ROOF_FLOOR_SYSTEM}}</p></div>
</row>
<div class="row">
	<div class="col-md-4"><p><strong>Interior finish:</strong> {{INTERIOR_FINISH}}</p></div>
	<div class="col-md-4"><p><strong>Floor finish:</strong> {{FLOOR_FINISH}}</p></div>
	<div class="col-md-4"><p><strong>Interior finish 1:</strong> {{INTERIOR_FINISH1}}</p></div>
</row>
<div class="row">
	<div class="col-md-4"><p><strong>Interior finish % 1:</strong> {{INTERIOR_FINISH_PERCENT1}}</p></div>
	<div class="col-md-4"><p><strong>Interior finish 2:</strong> {{INTERIOR_FINISH2}}</p></div>
	<div class="col-md-4"><p><strong>Interior finish % 2:</strong> {{INTERIOR_FINISH_PERCENT2}}</p></div>
</row>
<div class="row">
	<div class="col-md-4"><p><strong>Heat:</strong> {{HEAT}}</p></div>
	<div class="col-md-4"><p><strong>Heat %:</strong> {{HEAT_PERCENT}}</p></div>
	<div class="col-md-4"><p><strong>Heated area:</strong> {{HEATED_AREA}}</p></div>
</row>
<div class="row">
	<div class="col-md-4"><p><strong>Air:</strong> {{AIR}}</p></div>
	<div class="col-md-4"><p><strong>Air %:</strong> {{AIR_PERCENT}}</p></div>
	<div class="col-md-4"><p><strong>Utilities:</strong> {{UTILITIES}}</p></div>
</row>
<div class="row">
	<div class="col-md-4"><p><strong>Bath:</strong> {{BATH}}</p></div>
	<div class="col-md-4"><p><strong>Plumbing fixtures:</strong> {{PLUMBING_FIXTURES}}</p></div>
</row>
<div class="row">
	<div class="col-md-4"><p><strong>Built-in 1:</strong> {{BUILTIN1}}</p></div>
	<div class="col-md-4"><p><strong>Built-in 2:</strong> {{BUILTIN2}}</p></div>
	<div class="col-md-4"><p><strong>Built-in 3:</strong> {{BUILTIN3}}</p></div>
</row>
<div class="row">
	<div class="col-md-4"><p><strong>Built-in 4:</strong> {{BUILTIN4}}</p></div>
	<div class="col-md-4"><p><strong>Built-in 5:</strong> {{BUILTIN5}}</p></div>
</row>
<div class="row">
	<div class="col-md-4"><p><strong>St pavement:</strong> {{ST_PAVEMENT}}</p></div>
	<div class="col-md-4"><p><strong>Grade:</strong> {{GRADE}}</p></div>
	<div class="col-md-4"><p><strong>Grade diff. assd.:</strong> {{GRADE_DIFF_ASSD}}</p></div>
</row>
<div class="row">
	<div class="col-md-4"><p><strong>Topography:</strong> {{TOPOGRAPHY}}</p></div>
	<div class="col-md-4"><p><strong>Property index:</strong> {{PROPERTY_INDEX}}</p></div>
</row>
<div class="row">
	<div class="col-md-4"><p><strong>ACCR cond. % assd.:</strong> {{ACCR_COND_PERCENT_ASSD}}</p></div>
	<div class="col-md-4"><p><strong>Tot. sch. val. assd.:</strong> {{TOT_SCH_VAL_ASSD}}</p></div>
</row>
<div class="row">
	<div class="col-md-4"><p><strong>City:</strong> {{CITY}}</p></div>
	<div class="col-md-4"><p><strong>Planning jurisd.:</strong> {{PLANNING_JURISDICTION}}</p></div>
	<div class="col-md-4"><p><strong>Township:</strong> {{TOWNSHIP}}</p></div>
</row>
<div class="row">
	<div class="col-md-4"><p><strong>Fire dist.:</strong> {{FIRE_DISTRICT}}</p></div>
	<div class="col-md-4"><p><strong>Special dist. 1:</strong> {{SPECIAL_DIST1}}</p></div>
	<div class="col-md-4"><p><strong>Special dist. 2:</strong> {{SPECIAL_DIST2}}</p></div>
</row>
