<div class="row">
	<div class="col-md-4"><p><strong>Record ID:</strong> {{record_id}}</p></div>
	<div class="col-md-4"><p><strong>Source agency:</strong> {{agency}}</p></div>
</div>
<div class="row">
	{{#if charge}}<div class="col-md-4"><p><strong>Charge:</strong> {{charge}}</p></div>{{/if}} 
	{{#if category}}<div class="col-md-2"><p><strong>Crime category:</strong> {{category}}</p></div>{{/if}} 
	{{#if offense_code}}<div class="col-md-2"><p><strong>Offense code:</strong> {{offense_code}}</div></p>{{/if}}
</div>
<div class="row">
	{{#if name}}<div class="col-md-4"><p><strong>Reported by/victim:</strong> {{name}}</p></div>{{/if}} 
	{{#if age}}<div class="col-md-2"><p><strong>Age:</strong> {{age}}</p></div>{{/if}} 
	{{#if race}}<div class="col-md-2"><p><strong>Race:</strong> {{race}}</p></div>{{/if}} 
	{{#if sex}}<div class="col-md-2"><p><strong>Gender:</strong> {{sex}}</p></div>{{/if}}
</div>
<div class="row">
	{{#if date_occurred}}<div class="col-md-4"><p><strong>Date/time occurred:</strong> {{date_occurred}}</p></div>{{/if}}	
	{{#if date_reported}}<div class="col-md-4"><p><strong>Date/time reported:</strong> {{date_reported}}</p></div>{{/if}}	
</div>
<div class="row">
	{{#if address}}<div class="col-md-8"><p><strong>Address:</strong> {{address}}</p></div>{{/if}}
</div>
<div class="row">
	{{#if reporting_officer}}<div class="col-md-4"><p><strong>Reporting officer:</strong> {{reporting_officer}}</p></div>{{/if}}	
	{{#if pdf}}<div class="col-md-4"><a href="{{pdf}}" target="_blank">View report</a></div>{{/if}}
</div>
