<div class="row">
	<div class="col-md-4"><p><strong>Name:</strong> {{name}}</p></div>
	<div class="col-md-4"><p><strong>Age:</strong> {{birth_age}}</p></div>
	<div class="col-md-4"><p><strong>Party:</strong> {{party_cd}}</p></div>
</div>
<div class="row">
	<div class="col-md-4"><p><strong>Gender:</strong> {{gender_code}}</p></div>
	<div class="col-md-4"><p><strong>Race:</strong> {{race_code}}</p></div>
	<div class="col-md-4"><p><strong>Ethnicity:</strong> {{ethnic_code}}</p></div>
</div>
<div class="row">
	<div class="col-md-4"><p><strong>Res. address:</strong> {{res_street_address}}</p></div>
	<div class="col-md-4"><p><strong>Res. City:</strong> {{res_city_desc}}</p></div>
</div>
<div class="row">
	<div class="col-md-4"><p><strong>Res. ZIP:</strong> {{res_zip_code}}</p></div>
	<div class="col-md-4"><p><strong>Phone:</strong> {{full_phone_number}}</p></div>
</div>
<div class="row">
	<div class="col-md-4"><p><strong>Mail address:</strong> {{mail_address}}</p></div>
	<div class="col-md-4"><p><strong>Mail City:</strong> {{mail_desc}}</p></div>
</div>
<div class="row">
	<div class="col-md-4"><p><strong>Mail state:</strong> {{mail_state_cd}}</p></div>
	<div class="col-md-4"><p><strong>Mail ZIP:</strong> {{mail_zipcode}}</p></div>
	<div class="col-md-4"><p><strong>Birth place:</strong> {{birth_place}}</p></div>
</div>
<div class="row">
	<div class="col-md-4"><p><strong>Voter reg. #:</strong> {{voter_reg_num}}</p></div>
	<div class="col-md-4"><p><strong>Reg. date:</strong> {{registr_dt}}</p></div>
</div>
<div class="row">
	<div class="col-md-4"><p><strong>Reg. status:</strong> {{mail_state_cd}}</p></div>
	<div class="col-md-4"><p><strong>Reason:</strong> {{mail_zipcode}}</p></div>
</div>
<div class="row">
	<div class="col-md-4"><p><strong>Cong. dist.:</strong> {{cong_dist_abbrv}}</p></div>
	<div class="col-md-4"><p><strong>N.C. Senate:</strong> {{nc_senate_abbrv}}</p></div>
	<div class="col-md-4"><p><strong>N.C. House:</strong> {{nc_house_abbrv}}</p></div>
</div>
<div class="row">
	<div class="col-md-4"><p><strong>Super. Ct.:</strong> {{super_court_abbrv}}</p></div>
	<div class="col-md-4"><p><strong>Judicial:</strong> {{judic_dist_abbrv}}</p></div>
	<div class="col-md-4"><p><strong>Voter pct.:</strong> {{precinct_desc}}</p></div>
</div>
<div class="row">
	<div class="col-md-4"><p><strong>Municipality:</strong> {{municipality_desc}}</p></div>
	<div class="col-md-4"><p><strong>Ward:</strong> {{ward_desc}}</p></div>
	<div class="col-md-4"><p><strong>County comm.:</strong> {{county_commiss_desc}}</p></div>
</div>
<div class="row">
	<div class="col-md-4"><p><strong>Township:</strong> {{township_desc}}</p></div>
	<div class="col-md-4"><p><strong>School:</strong> {{school_dist_desc}}</p></div>
	<div class="col-md-4"><p><strong>Fire:</strong> {{fire_dist_desc}}</p></div>
</div>
<div class="row">
	<div class="col-md-4"><p><strong>Water:</strong> {{water_dist_desc}}</p></div>
	<div class="col-md-4"><p><strong>Sewer:</strong> {{sewer_dist_desc}}</p></div>
	<div class="col-md-4"><p><strong>Sanitation:</strong> {{sanit_dist_desc}}</p></div>
</div>
<div class="row">
	<div class="col-md-4"><p><strong>Rescue:</strong> {{rescue_dist_desc}}</p></div>
	<div class="col-md-4"><p><strong>Misc. municipal:</strong> {{munic_dist_desc}}</p></div>
</div>
<div class="row">
	<div class="col-md-4"><p><strong>Misc. district 1:</strong> {{dist_1_desc}}</p></div>
	<div class="col-md-4"><p><strong>Misc. district 2:</strong> {{dist_2_desc}}</p></div>
	<div class="col-md-4"><p><strong>VTD:</strong> {{vtd_desc}}</p></div>
</div>
