<div id="alert-modify-modal" class="modal fade">
    <div class="modal-dialog modal-lg">
		<div class="modal-content">
		    <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			    <h4 class="modal-title">Your alerts</h4><span id="modify-msg"></span>
		    </div>
		    <div class="modal-body" id="show-alerts-body">
				{{#if alerts}}
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Search parameters</th><th>Added</th><th>Last searched</th><th>Active?</th><th>Delete?</th>
						<tr>
					</thead>
					<tbody>
						{{#each alerts}}
						<tr class="show-dash-alerts">
							<td>{{this.search_params}}</td><td>{{this.added}}</td><td>{{this.last_searched}}</td><td><input type="checkbox" class="alert-pause" value="{{this.active}}" {{#if this.active}}checked{{/if}} title="Uncheck to pause this alert"/></td><td><input type="checkbox" class="alert-delete" title="Check to delete this alert" /><input type="hidden" class="alert-search" value="{{this.search}}" /></td>
						</tr>
						{{/each}}
						<tr>
							<td colspan="5" align="center"><button type="button" id="modify-alert" class="btn btn-default" style="margin-right: 5px;">Modify alerts</button><button type="button" id="cancel-modify" class="btn btn-default" data-dismiss="modal">Cancel</button></td>
						</tr>
					</tbody>
				</table>
				{{else}}
				<p><b>No alerts found.</b></p>
				{{/if}}
			</div>
		</div>
	</div>
</div>
